.fdb_history
.copy_to
.depend
average
config.h
config.log
config.mak
fstitch
header.map
header.prune
includes
includes.dot
includes.eps
includes.pdf
io_count.dylib
io_count.so
libanvil.a
libanvil.dylib
libanvil.so
main
medic
mnt
tags
test.local
*.o
